* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

#content {
	flex: 1;
}

/* Lábléc */

#footer {
  	height: 60px;
  	width: 100%;
  	padding: 12px 0px;
  	background-color: grey;
  	text-align: center;
  	background-color: #494949;
}

#footer div {
	display: inline-block;
	position: relative;
	width: 100%;
}

#footer p {
	color: white;
	font-size: 16px;
	font-family: sans-serif;
	margin-bottom: 10px;
}

#contact_icons i {
	background-color: #00a000;
	color: white;
	font-size: 30px;
	width: 30px;
	height: 30px;
	border-radius: 10%;
	text-align: center;
	line-height: 30px;
	margin: 0px 15px;
	vertical-align: middle;
}

/* Menü (és fejléc) */

#header {
	min-height: 67px;
	background-color: black;
	padding: 10px;
	vertical-align: center;
}

#logo {
	float: left;
	margin-right: 10px;
}

#nav {
	padding: 24.5px 15px;
}

.menu {
	text-align: center;
	padding-left: 15px;
	padding-right:15px;
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-variant-caps: all-small-caps;
	font-size: 20px;
	position: relative;
	left: 10px;
}

.menu:hover {
	color: #00a000;
	border-top: 1px solid #00a000;
	border-bottom: 1px solid #00a000;
	transition: all 1s linear 0s;
}

/* Főoldal */
#main #offer, #main #calculate, #main #contact_us, #main #experts {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px;
}

#main #offer, #main #experts {
	background-color: #F0F0F0;
}

#contact_us {
	background-color: #2d2d2e;
	color: white;
}

.div_content {
	max-width: 1000px;
	text-align: center;
}

#main h2 {
	text-align: center;
	padding-bottom: 10px;
}

#main p {
	text-align: center;
}

.go_on {
	padding: 10px;
	margin-top: 25px;
	background-color: #00a000;
	text-align: center;
	width: 100px;
	display: inline-block;
}

#main a {
	text-decoration: none;
	color: white;
}

#flex-container {
    max-height: 500px;
    max-width: 1000px;
    display: -webkit-flex;
    display: flex;
    padding: 0px;
}

#flex-child {
	max-width: 150px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 10px 0px;
    margin-top: 20px;
    margin-right: 10px;
}

#flex-child:first-child {
	margin-left: 10px;
}

#flex-child img {
	width: 100%;
}

/* Kapcsolatok részletek */

#contact_details {
	background-color: black;
	color: white;
	display: flex;
}

#links a {
	font-weight: bolder;
}

#contact_details h3 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 15px;
}

#details_center i {
	background-color: #00a000;
  	color: white;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.column {
 	box-sizing: border-box;
 	flex: 1;
}

#details_center p {
	display: inline-block;
	vertical-align: middle;
}

#details_center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

#details_center {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#details_left, #details_center, #details_right {
	padding: 20px;
}

/* Slideshow */
#catalogue {
	box-sizing: border-box
}

#catalogue img {
	vertical-align: middle;
	width: 100%;
}

.mySlides {display: none}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 20px;
  padding-bottom: 0px;
}

#dots {
	text-align: center;
	padding-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Kalkulátorok menüpont tartalma */

.calculator-content h1, .calculator-content h2 {
	color: #00a000;
	margin-bottom: 20px;
}

.calculator-content b {
	color: #00a000;
}

#calculators_page {
	background-color: #F0F0F0;
	padding: 20px;
	margin: 0% 10%;
	min-width: 300px;
}

@media screen and (max-width: 940px) {
	#calculators_page {
		margin: 20px 0px;
	}
}

.calculator-content {
	padding: 20px 40px;
	max-width: 1000px;
	min-width: 300px;
	background-color: #2d2d2e;
	color: white;
	margin: 0 auto;
	margin-bottom: 20px;
}

#calculator-intro {
	text-align: center;
	background-color: transparent;
	max-width: 1000px;
	color: black;
}

ul {
	padding-left: 35px;
}

li {
	padding-left: 5px;
}

/* Űrlapok */

#registration_page, #contacts {
	margin-top: 20px;
}

.form {
  max-width: 500px;
  padding: 0px 20px 20px 20px;
  margin: 0px auto;
  border-top: 10px solid #00a000;
  border-bottom: 10px solid #00a000;
  font-size: 12pt;
  margin-bottom: 20px;
  background-color: #2d2d2e;
  color: white;
}


.form>p {
	padding-bottom: 15px;
}

.form h2 {
  margin: 20px 0px 15px 0px;
  font-family: fantasy;
  color: #00a000;
}

.form label,
.form input,
.form select {
	font-size: 12pt;
	line-height: 24pt;
}

.form input[type=text], input[type=password], input[type=textarea], select {
	display: block;
	width: 100%;
	max-width: 100%;
}

.form input, .form select {
	margin-bottom: 15px;
}

.form h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin-bottom: 15px;
  color: #00a000;
}

.form span {
  font-size: 8pt;
}

.form em {
  color: #00a000;
  font-weight: bold;
}

.form input, .form select {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding-left: 5px;
  outline: none;
  background-color: #eeeeee;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  border: 1px solid #00a000;
}
.form button {
  display: block;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #00a000;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

.form button:hover {
  background: inherit;
  color: #00a000;
  border-bottom: 2px solid #00a000;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form select:-webkit-autofill,
.form select:-webkit-autofill:hover,
.form select:-webkit-autofill:focus {
  border: 1px solid #00a000;
  -webkit-text-fill-color: #00a000;
  -webkit-box-shadow: 0 0 0px 1000px #00a000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.formResult {
	color: darkgreen;
	background-color: lightgreen;
	padding-bottom: 0px;
	padding: 7px;
	margin-top: 10px;
}

.formErrorMessage {
	color: red;
	background-color: pink;
}

/* Ingatlanügynökök adatai */
#experts-main-div {
	text-align: center;
	margin-bottom: 20px;
	flex: 0 0 100%;
}

#experts-main-div p {
	max-width: 1000px;
	margin: 0 auto;
}

#agents-div {
	width: auto;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
	padding: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.agent-div {
	width: 20%;
	margin-bottom: 20px;
	background-color: #2d2d2e;
	padding: 20px;
	line-height: 2em;
	color: white;
}

.agent-div b {
	color: #00a000;
}

.agent-image-div, .agent-image-div img, .agent-data-div {
	width: 100%;
}

.agent-image-div {
	padding-bottom: 10px;
}

@media screen and (max-width: 1500px) {
  .agent-div {
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  .agent-div {
    width: 80%;
  }
}

/* Reszponzív */

@media screen and (max-width: 1525px) {
	#br1 {
		display: inline;
	}
}

@media screen and (max-width: 1195px) {
	#br2 {
		display: inline;
	}

	#br1 {
		display: none;
	}

	#nav {
		padding: 0px;
	}

	#logo {
		float: right;
	}
}

@media screen and (max-width: 1050px) {
	#br1 {
		display: inline;
	}
}

@media screen and (max-width: 720px) {
	br {
		display: inline;
	}

	#nav {
		clear: both;
	}

	#logo {
		clear: both;
		float: left;
	}
}

@media screen and (max-width: 810px) {
	#contact_details {
		display:block;
	}
}