* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#content {
	flex: 1;
}

/* Lábléc */

#footer {
  	height: 60px;
  	width: 100%;
  	padding: 12px 0px;
  	background-color: grey;
  	text-align: center;
  	background-color: #494949;
}

#footer div {
	display: inline-block;
	position: relative;
	width: 100%;
}

#footer p {
	color: white;
	font-size: 16px;
	font-family: sans-serif;
	margin-bottom: 10px;
}

#contact_icons i {
	background-color: #00a000;
	color: white;
	font-size: 30px;
	width: 30px;
	height: 30px;
	border-radius: 10%;
	text-align: center;
	line-height: 30px;
	margin: 0px 15px;
	vertical-align: middle;
}

/* Menü (és fejléc) */

#header {
	min-height: 67px;
	background-color: black;
	padding: 10px;
	vertical-align: center;
}

#logo {
	float: left;
	margin-right: 10px;
}

#nav {
	padding: 24.5px 15px;
}

.menu {
	text-align: center;
	padding-left: 15px;
	padding-right:15px;
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-variant-caps: all-small-caps;
	font-size: 20px;
	position: relative;
	left: 10px;
}

.menu:hover {
	color: #00a000;
	border-top: 1px solid #00a000;
	border-bottom: 1px solid #00a000;
	transition: all 1s linear 0s;
}

/* Főoldal */
#main #offer, #main #calculate, #main #contact_us, #experts {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px;
}

#main #offer, #main #experts {
	background-color: #F0F0F0;
}

#contact_us {
	background-color: #2d2d2e;
	color: white;
}

.div_content {
	max-width: 1000px;
	text-align: center;
}

#main h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-bottom: 10px;
}

#main p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.go_on {
	padding: 10px;
	margin-top: 25px;
	background-color: #00a000;
	text-align: center;
	width: 100px;
	display: inline-block;
}

#main a {
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

#flex-container {
    max-height: 500px;
    max-width: 1000px;
    display: -webkit-flex;
    display: flex;
    padding: 0px;
}

#flex-child {
    max-width: 150px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 10px 0px;
    margin-top: 20px;
    margin-right: 10px;
}

#flex-child:first-child {
	margin-left: 10px;
}

#flex-child img {
	width: 100%;
}

/* Kapcsolatok részletek */

#contact_details {
	background-color: black;
	color: white;
	display: flex;
}

#links a {
	font-weight: bolder;
}

#contact_details h3 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 15px;
}

#details_center i {
	background-color: #00a000;
  	color: white;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.column {
 	box-sizing: border-box;
 	flex: 1;
}

#details_center p {
	display: inline-block;
	vertical-align: middle;
}

#details_center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

#details_center {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#details_left, #details_center, #details_right {
	padding: 20px;
}

/* Slideshow */
#catalogue {
	box-sizing: border-box
}

#catalogue img {
	vertical-align: middle;
	width: 100%;
}

.mySlides {display: none}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 20px;
  padding-bottom: 0px;
}

#dots {
	text-align: center;
	padding-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}