* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#content {
	flex: 1;
}

/* Lábléc */

#footer {
  	height: 60px;
  	width: 100%;
  	padding: 12px 0px;
  	background-color: grey;
  	text-align: center;
  	background-color: #494949;
}

#footer div {
	display: inline-block;
	position: relative;
	width: 100%;
}

#footer p {
	color: white;
	font-size: 16px;
	font-family: sans-serif;
	margin-bottom: 10px;
}

#contact_icons i {
	background-color: #00a000;
	color: white;
	font-size: 30px;
	width: 30px;
	height: 30px;
	border-radius: 10%;
	text-align: center;
	line-height: 30px;
	margin: 0px 15px;
	vertical-align: middle;
}

/* Menü (és fejléc) */

#header {
	min-height: 67px;
	background-color: black;
	padding: 10px;
	vertical-align: center;
}

#logo {
	float: left;
	margin-right: 10px;
}

#nav {
	padding: 24.5px 15px;
}

.menu {
	text-align: center;
	padding-left: 15px;
	padding-right:15px;
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-variant-caps: all-small-caps;
	font-size: 20px;
	position: relative;
	left: 10px;
}

.menu:hover {
	color: #00a000;
	border-top: 1px solid #00a000;
	border-bottom: 1px solid #00a000;
	transition: all 1s linear 0s;
}